// app global css
body {
  font-family: 'Raleway', sans-serif;
}

.no-hover tbody tr:hover {
  background none
}

.command-cell
  position: absolute !important;
  right: 0;
  border: none !important;
  padding: 7.2px 24px !important;

  div
    background: #f7f7f7;

.card-avatar
  background-position center
  background-size cover
  background-repeat no-repeat
  width: 40px
  height: 40px
  border-radius: 50%

.text-truncate
  overflow: hidden;
  text-overflow: ellipsis

.small-input
  font-size 13px

.circled-borders
  border-radius 50%

.fab-button-bottom-right
  right: 18px
  bottom: 18px
